page-map {
  .scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 100%;
  }

  .alerticon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  .alerticon ion-icon {
    font-size: 40pt;
    text-align: center;
  }
}
