page-home {

  ion-menu ion-label {
    font-family: Arvo-Regular;
    font-size: 14pt;
  }

  .menulogo {
    margin: 0 auto;
    display: block;
    width: 75%; height: auto;
    padding: 15pt;
  }
}
